<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myecommerce/styles.css' %}">
</head>
<body>
    <header>
        <h1>Register</h1>
    </header>
    <main>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="form-group"> {{ form.as_p }}</div>
            <button type="submit" class="btn">Register</button>
        </form>
    </main>
    <footer class="footer">
        <p>&copy; 2024 My E-commerce Site</p>
    </footer>
</body>
</html>
